.sponsorcontainer1 {
  margin-left: 30px;
}

.sponsorcontainer {
  display: flex;
  flex-wrap: wrap;
}

.sponsorcontainer>* {
  flex: 0 1 20%;
}

.sponsor {
  width: 55px;
  height: 55px;
  border-radius: 20%;
  margin: 6px;
}

.sponsor:hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}