@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Henny Penny', sans-serif;
  height: 100vh;
  /* background-image: url("bgimages/universalbackground3.jpg")*/
  ;
}

.videoBgcontent {
  position: absolute;
  width: 100%;
  height: 100v;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}



.card {
  width: 300px;
  font-size: 12px;
  flex: 0 0 auto;
  /* ADD */
  display: flex;
  /* ADD */
  flex-direction: column;
  margin-top: 5px;
  /* ADD */
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  padding-bottom: 10px;
  color: #f4c44b;
}

.sharebutton {
  font-size: 25px;
  color: #dc9e02;
  background-color: black;
  position: absolute;
}

.headertext {
  color: #f4c44b;

  font-family: 'Henny Penny';
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
}


.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-family: 'Bungee Shade';
  color: #f4c44b;
}

.card--stats {
  display: flex;
  align-items: center;
  color: #f4c44b;
  font-weight: bold;
  font-family: 'Bungee Shade';
  font-size: 1rem;
}

.title2 {
  text-align: center;
  font-family: 'Notable';
  font-size: 2rem;
  color: white;
}

.headerlogo {

  margin: 25px;
}

.contactheader {

  font-family: 'Asap Condensed';
  font-size: 1.5rem;
  color: #f4c44b;
  margin-bottom: -45px;
}

.contact {

  font-family: 'Asap Condensed';
  font-size: 1.2rem;
  color: #f4c44b;

}


.flag-logo2 {
  width: 70px;
  height: 70px;
  text-align: center;


}

.navbar-logo {
  border-width: 4px;
  border-color: #dc9e02;
  border-style: groove;
  margin-left: -15px;
  margin-top: -8px;
}



.category {
  display: flex;
  align-items: center;
  color: #f4c44b;
  font-size: .8rem;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Bungee Shade';

}

/* ADD */
.card--price {
  margin-bottom: auto;
}

.intro {
  background-color: black;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 45px;
  margin-right: 45px;
  font-size: 1rem;
  font-family: 'Bungee Shade';
  color: #f4c44b;
}


.slidertextdiv {

  text-align: center;
  border-radius: 20px;

  font-size: 1rem;
  font-family: 'Bungee Shade';
  color: #f4c44b;
}

.slidertext {

  font-size: 1rem;
  font-family: 'Asap Condensed';
  text-align: center;
  border-radius: 10px;

  color: #f4c44b;
}


.herotext {
  font-size: 2rem;
  font-family: 'Bungee Shade';
  text-align: center;
  background-color: black;
  border-radius: 15px;
  color: #f4c44b;
}



.eventos {
  background-color: black;
  font-size: 3rem;
  font-family: 'Bungee Shade';
  text-align: center;
  border-radius: 10px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  color: #f4c44b;
}

.description {
  color: #f4c44b;
  font-family: 'Asap Condensed';
}

.socialmedia {
  background-color: black;
  font-size: 2rem;
  font-family: 'Bungee Shade';
  text-align: center;
  border-radius: 10px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 25px;
  color: #f4c44b;
}

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  margin-top: 10px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #dc9e02;
  color: black;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.video {
  color: goldenrod;
  font-size: 3rem;
}




.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  width: 95%;
  display: block;
  margin: auto;

  /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  color: black;

}

.react-player2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  color: goldenrod;
}



.like-icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  font-family: 'Bungee Shade'
}

.icons-like {
  font-size: 25px;
  color: #dc9e02;
  margin-left: 5px;
  font-family: 'Bungee Shade'
}

.num-display {
  position: absolute;
  left: 50px;
  font-family: 'Bungee Shade'
}

.locationImg {
  width: 50px;
  position: relative;
  left: 180px;
  bottom: 95px;

}

.icons-bandera {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: red;
  border-radius: 10%;
  text-decoration: none;

}

.icons-bandera :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-fb {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: blue;
  border-radius: 10%;
  text-decoration: none;

}

.icons-fb :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-YT {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: red;
  background-color: none;
  border-radius: 10%;
}

.icons-YT :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-twitter {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  padding: 1px;
  font-size: 45px;
  color: cyan;
  background-color: none;
  border-radius: 10%;
}

.icons-twitter :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-instagram {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: rgb(243, 9, 138);
  border-radius: 10%;
}

.icons-instagram :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-spotify {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: rgb(9, 243, 9);
  background-color: none;
  border-radius: 10%;
}

.icons-spotify :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}



.icons-deezer {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: #dc9e02;
  background-color: none;
  border-radius: 10%;
}

.icons-deezer :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-itunes {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: hotpink;
  background-color: none;
  border-radius: 10%;
}

.icons-itunes :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}



.icons-tiktok {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: white;
  background-color: none;
  border-radius: 10%;
}

.icons-tiktok :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-wiki {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: grey;
  background-color: none;
  border-radius: 10%;
}

.icons-wiki :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-tidal {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: white;
  background-color: none;
  border-radius: 10%;
}

.icons-tidal :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-soundcloud {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: orange;
  background-color: none;
  border-radius: 10%;
}

.icons-soundcloud :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.icons-napster {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-right: 10px;
  font-size: 45px;
  color: red;
  background-color: none;
  border-radius: 10%;
}

.icons-napster :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}




.third-party-icons {
  display: flex;
  flex-wrap: wrap;
}

.third-party-icons>* {
  flex: 0 1 20%;
}

#third-party-grid {
  width: 55px;
  height: 55px;
  border-radius: 20%;
  margin: 6px;
}

.sponsorcontainer1 {
  margin-left: 30px;
}

.sponsorcontainer {
  display: flex;
  flex-wrap: wrap;
}

.sponsorcontainer>* {
  flex: 0 1 20%;
}

.sponsor {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin: 9px;
}

.amazonsponsor {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin: 3px;
}



.sponsor:hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.channel-component {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
}


.channels {
  width: 125px;
  height: 125px;
  border-radius: 20%;
  margin: 0px;
}

.channelcardtitle {
  padding: 5px;
  background-color: black;
  border-radius: 10px;
  color: goldenrod;
}

.channelcardtitle :hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 125px;
  max-height: 125px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}


.channels:hover {
  background-image: linear-gradient(to right, #dc9e02,
      black,
      #dc9e02);
  max-width: 125px;
  max-height: 125px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.tm-icon {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin: 5px;
  margin-top: 25px;
}

.tm-icon:hover {
  background-image: linear-gradient(to right, #dc9e02, black, #dc9e02);
  max-width: 95px;
  max-height: 95px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.navbar {
  background: black;
  height: 80px;
}

.navbar-logo {
  position: absolute;
  top: 5px;
  left: 80px;
  transform: translate(5%, 50%);


}

.description {
  color: #f4c44b;
  font-family: 'Asap Condensed';
}

.flag-logo {
  position: relative;
  left: 230px;
  width: 80px;
  height: 60px;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
  font-family: 'Henny Penny'


}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
  font-family: 'Henny Penny'
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  font-family: 'Henny Penny'

}

.container {
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0 0px;
  text-align: center;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
  background-color: #000;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 80px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Henny Penny'

}

.header ul li a:hover {
  color: white;


}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  border-radius: 10px;
  font-family: 'Henny Penny'

}

.heading p {
  color: red;
  background-color: #000;
  border-radius: 10px;
  font-family: 'Henny Penny'


}



.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}



.btn1 {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: darkgreen;
  color: red;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Henny Penny';

  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 4px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;

}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }



}

.player-wrapper {
  position: relative;
  padding-top: 56.25%
    /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  color: black;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  width: 2rem;
  background-color: black;
}

;

::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 4px;

}

.flip-box {
  background-color: transparent;
  width: 65px;
  height: 60px;
  margin: 0rem;
  margin-top: -0.0rem;
  position: absolute;

  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  text-align: center;
  transition: transform 3s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front {
  position: absolute;
  width: 55px;
  height: 60px;

}

.flip-box-back {
  position: absolute;
  width: 55px;
  height: 60px;

}

.flip-box-back {
  transform: rotateY(520deg);
}

.flag-logo3 {
  width: 60px;
  height: 60px;
  margin-right: 5px;


}

.flag-logo4 {
  width: 60px;
  height: 60px;
  margin-left: 285px;
}

.btn {
  margin: 1px;
}

.btn2 {
  position: relative;
  left: 110px;
  bottom: -10px;
  width: 50px;
  height: 70px;
  text-align: center;
  font-size: 45px;
  background-image: linear-gradient(to right, red, white, green);
  color: black;
  border-radius: 10px;
}

.btn2:hover {
  background-image: linear-gradient(to right, green, white, red);
  max-width: 95px;
  max-height: 95px;
  border-radius: 10%;
  cursor: pointer;

}